/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.site-content {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	&:before{
		font-family: "FontAwesome";
  		content: "\f10d";
		font-size: 10rem;
		float: left;
	}
	&:after{
		font-family: "FontAwesome";
  		content: "\f10e";
		font-size: 10rem;
		float: right;
	}
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
