/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// global style
body {
    background: #222222;
    color: #00cc00;
    color: white;
}

// front page


/* All Archives Page */

/* Submit a Quote Page */
